body {
    font-family: sans-serif;
    font-size: 14px;
}
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
details {
    margin: 2em 0;
}
summary {
    color: blue;
}
#details-section {
    width: 60em;
}
/* Minerals table styles */
.mineral-class {
    margin: 8px;
    padding: 4px;
}
.mineral {
    display: inline-block;
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
}
/* guess styles */
button {
    margin: 1em;
    padding: 1em;
}
#container {
    border: 1px solid lightgray;
    padding: 1em;
}
#answer {
    height: 1em;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
#loaddiv {
    text-align: center;
}
#imgdiv {
    overflow:hidden;
}
#img {
    height: 256px;
    width: 256px;
    border: 1px solid gray;
}
/* rock tables styles */
table {
    border-collapse: collapse;
    margin: 2em 0;
}
table td {
    border: 1px solid black;
    padding: 4px;
}
/* Changing mathjax styles */
mjx-container[jax="CHTML"][display="true"] {
    margin: 0.5em 0 0 0 !important;
}