:root {
    --ihnm-color-bg: white;
    --ihnm-color-bg2: rgb(244, 244, 244);
    --ihnm-color-text: black;
    --ihnm-color-pink: pink;
    --ihnm-color-shadow: rgb(222, 222, 222);
    --ihnm-color-border: gray;
    --ihnm-color-a-hover: brown;
    --ihnm-color-a-active: darkred;
    --ihnm-color-selection-bg: brown;
    --ihnm-color-selection-text: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --ihnm-color-bg: black;
        --ihnm-color-bg2: rgb(22, 22, 22);
        --ihnm-color-text: white;
        --ihnm-color-pink: #672733;
        --ihnm-color-shadow: rgb(55, 55, 55);
        --ihnm-color-border: lightgray;
        --ihnm-color-a-hover: darksalmon;
        --ihnm-color-a-active: brown;
        --ihnm-color-selection-bg: brown;
        --ihnm-color-selection-text: white;
    }
}

::selection {
    color: var(--ihnm-color-selection-text);
    background-color: var(--ihnm-color-selection-bg);
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    background-color: var(--ihnm-color-bg);
    color: var(--ihnm-color-text);
    font-family: arial, sans;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1em 1em 3em 1em;
    gap: 1em;
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0 .5em 0;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 120%;
}

ul {
    margin: 0.5em;
}

a {
    color: var(--ihnm-color-text);
    text-decoration: underline;
}

a:hover {
    color: var(--ihnm-color-a-hover);
}

a:active {
    color: var(--ihnm-color-a-active);
}

input {
    background-color: var(--ihnm-color-bg);
    color: var(--ihnm-color-text);
    border: 1px solid var(--ihnm-color-border);
}

button {
    background-color: var(--ihnm-color-bg);
    color: var(--ihnm-color-text);
    border: 1px solid var(--ihnm-color-border);
    padding: 0.5em 0.8em;
    margin: 0.5em;
}

svg {
    border: 1px solid var(--ihnm-color-border);
    margin: 1em;
}