* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100vh;
}

body {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: sans-serif;
	width: 100%;
	color: #56261f;
}

header {
	
}

main {
	margin: 0;
	padding: 64px 0;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

input[type="number"] {
	border-color: #c2a79e;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  padding: 1em;
}

tr:nth-child(even) {
  background-color: #f3eeed;
}

button {
	-webkit-appearance: none;
	border: 2px solid #c2a79e;
	border-top: 2px solid #f3eeed;
	border-left: 2px solid #f3eeed;
	background-color: #f3eeed;
	color: #56261f;
}

button:active {
	background-color: #ebdddb;
}