html, body {
	height: 100%;
}

body {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: sans-serif;
	width: 100%;
	color: #56261f;
}

header {
	
}

main {
	margin: 64px 0;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

input[type="number"] {
	border-color: #c2a79e;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f3eeed;
}