main {
    max-width: 1024px;
    margin: auto;
    font-family: sans-serif;
    font-size: 14px;
}

svg {
    width: 12em;
    height: 12em;
    border: 1px solid brown;
}

.select-onclick {
    background-color: #F7EAE4;
}

#documentation > ol > li {
    margin-top: 1em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#console {
    border: 2px solid #90867e;
    height: 70vh;
    display: flex;
    flex-flow: column nowrap;
}

#history-box {
    flex: 1 0 1px;
    overflow: auto;
}

#input-box {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
}

#input-box input {
    width: 100%;
    box-sizing: border-box;
    
}

.history-item {
    display: flex;
    flex-flow: row nowrap;
}

.history-item-echo {
    color: blue;
}

.history-item-respond {
    color: #2f1907;
    margin-bottom: 16px;
}

.history-item-error {
    color: red;
}

.history-item-respond::before,
.history-item-error::before {
    content: "";
    background-color: #ebd4c9;
    width: 1em;
    min-width: 1em;
}

.history-item-part {
    margin: 4px;
}

.gtable {
    display: flex;
    flex-flow: row nowrap;
}

.grow {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

.grow > * {
    display: block;
    height: 2em;
    border: 1px solid #c3b2a8;
    box-sizing: border-box;
    padding: 0.5em;
    flex: 1 1 auto;
    white-space: nowrap;
    text-align: center;
}

.grow-tight {
    width: 2em;
    max-width: 2em;
}

.grow-average {
    width: 5em;
    max-width: 5em;
}

.gheader {
    height: 2em;
    max-height: 2em;
}

.userinputed {
    color: blue;
}

#buttons-section {
    margin: 4px;
}

#commands-sequence-section {
    margin: 2em 0;
}

#commands-sequence {
    display: block;
    width: 100%;
}