include mixins.pug

doctype html
html(lang='ru')
  head
    title= Конспекты
    meta(charset="utf-8")
    link(rel='stylesheet', href='../style.css')

  body
    main
        h2 конспекты
        +nav(dirs, "")