body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

button {
    padding: 0.8em;
    font-size: 13px;
    margin: 2em;
}

main > * {
    margin: 2em auto 2em auto;
}

#field {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    background-color: var(--ihnm-color-bg);
}

.barley-back, barley-tile {
    display: block;
    width: 100px;
    height: 100px;
}

barley-tile {
    position: absolute;
    transition-duration: 0.15s;
    z-index: 1;
}

barley-tile > div {
    width: 100%;
    height: 100%;
}

barley-tile > div, #field {
    transition-duration: 0.4s;
}

barley-tile .nameplate {
    width: 70px;
    height: 80px;
    border: 1px solid var(--ihnm-color-border);
    position: absolute;
    background-color: var(--ihnm-color-bg);
    left: calc(50% - 30px);
    top: 10px;
    z-index: 1;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

barley-tile .nameplate::before {
    content: "";
    border-radius: 100%;
    width: 4px;
    height: 4px;
    border: 1px solid var(--ihnm-color-bg);
    background-color: var(--ihnm-color-bg);
    position: absolute;
    top: calc(80px * 1/5);
}

p {
    max-width: 40em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
}

#counter-wrap {
    margin-bottom: 10em;
}