input {
  width: 4em;
}

div:empty:before, span:empty:before {
  content: "\200b";
}

#journal {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.station {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 1em 0;
}

.station > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5em;
}

.column > * {
  flex: 1 1;
}

/* .station .labels div {
  display: flex;
  flex-direction: column;
} */
