#table {
    display: inline-grid;
    grid-template-columns: 5em repeat(9, 1fr) 2em;
    text-align: center;
}

.contents {
    display: contents;
}

#table input {
    max-width: 3em;
    font-size: 100%;
}

svg {
    border: 1px solid black;
    margin: 1em;
}

#rose-azimuths-dip, #rose-incidence {
    width: 20em;
    height: 20em;
}

#rose-azimuths-strike {
    height: 15em;
    width: 30em;
}