main {
    padding: 0;
}

#content {
    max-width: 40em;
    margin: 2em auto;
    display: flex;
    flex-flow: column nowrap;
}

#content article {
    background-color: var(--ihnm-color-bg-transparent);
    padding: 1.5em;
}

h2, p {
    margin: 1em 0;
}

#generations {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

#generations canvas {
    width: 10% !important;
    aspect-ratio: 1;
    border: 1px solid gray;
    box-sizing: border-box;
}

#settings input[type=number] {
    width: 3.5em;
    text-align: center;
}

#gif-creator {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    visibility: hidden;
}

#gif-creator-wrap {
    position: relative;
}

#gif-creator-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--ihnm-color-bg2-transparent);
    box-sizing: border-box;
}

#gif-creator-loading::before {
    content: "Загрузка..";
    
}

#gif-img {
    display: block;
    max-width: 30em;
    width: 50%;
    min-width: 10em;
    aspect-ratio: 1;
    border: 1px solid var(--ihnm-color-border);
    margin: auto;
    position: relative;
    z-index: 2;
    background-color: var(--ihnm-color-bg);
}

@media (max-width: 50em) {
    #generations canvas {
        width: 20% !important;
    }
}

#text img {
    width: 100%;
}

#note[hidden], #error[hidden] {
    display: block;
    visibility: hidden;
}

#note {
    color: var(--ihnm-color-shadow);
}

#error {
    color: var(--ihnm-color-red);
}