body {
    margin: 2em;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: larger;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    row-gap: 2em;
}

button, select {
    background-color: black;
    border: 1px solid gray;
    margin: 0;
    padding: 0.3em 0.6em;
    color: white;
    font-family: monospace;
}

button:hover {
    background-color: green;
}

button:active {
    background-color: darkgreen;
}

select:hover {
    background-color: midnightblue;
}

select:active {
    background-color: darkorchid;
}

svg {
    width: 30em;
    height: 30em;
    border: 1px solid gray;
}

p {
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
}

em {
    color: lightgreen;
}

.preset-btn {
    color: orange;
}

#resets-section, #presets-section {
    flex-flow: row wrap;
}

#options-section {
    display: flex;
    flex-flow: row wrap;
    max-width: 60em;
    gap: 1em;
    row-gap: 1em;
    --color: #beb7ed;
    color: var(--color);
    justify-content: space-between;
}

#options-section > div {
    display: inline-block;
}

#options-section select {
    color: var(--color);
    border-color: var(--color);
}

#info-div {
    color: gray;
}

#info-div > p {
    margin: 0;
}

#lorem-ipsum {
    color: gray;
}