body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-flow: column wrap;
}

main > * {
    width: 100%;
}

main > * > * {
    margin: auto;
    max-width: 70em;
}

button {
    padding: .3em;
    margin: .3em;
    border-radius: 3px;
    background-color: #f8f7f7;
    font-size: 0.9em;
    border: 1px solid #beb0b0;
    color: #673737;
    transition: all 0.2s cubic-bezier(.39,.58,.57,1);
}

button:disabled {
    background-color: #ebe8e8;
    color: #988c87;
    font-weight: bold;
}

#disciplines-wrap, #chapters-wrap {
    width: 100%;
    background-color: #f8f8f8;
    margin: 1em 0;
    padding: 0.5em 0;
    border: 1px solid #e0dad9;
    border-left-width: 0;
    border-right-width: 0;
}

#disciplines, #chapters {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#question-wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    transition: height cubic-bezier(.38,.08,.21,.98) 250ms;
    overflow: hidden;
}

#question {
    font-size: 1.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #654133;
    text-align: center;
}

#question img {
    width: 8em;
    height: 8em;
    border: 1px solid #1d1919;
    box-shadow: 2px 2px 6px #a39999;
    border-radius: 3px;
}

#chapters button.current {
    background-color: #ffece7;
    padding: 0.8em;
    margin: 0.5em 2em;
    font-weight: bold;
    color: #c35331;
    background: linear-gradient(#fff8f8, #efe5e4);
}

#chapters button::before {
    margin: 0 0.5em 0 0;
    content: "";
}

#chapters button::after {
    margin: 0 0 0 0.5em;
    content: attr(data-counter);
    color: #ab7979;
}

#conspect {
    max-width: 50em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    color: #362c29;
}

#conspect img {
    display: block;
    margin: auto;
}

strong {
    color: #962c21;
}

em {
    color: #a32407;
}

li {
    margin: 0.3em 0;
}

.table-name {
    text-align: center;
    font-weight: bold;
    color: #501f1f;
    font-size: 1.2em;
    font-variant: small-caps;
}

table {
    border-collapse: collapse;
    font-size: 0.8em;
    text-align: center;
    margin: 1em;
}

tr:first-child {
    font-weight: bold;
    color: #875145;
    font-size: 1.1em;
}

tr:nth-child(even) {
    background-color: #f6f3f2;
}

td {
    border: 1px solid black;
    padding: 5px;
}
