/* body {
    margin: 0;
    padding: 0;
    position: relative;
}

main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

button {
    padding: .5em;
    margin: .3em;
    border-radius: 3px;
    background-color: #f8f7f7;
    font-size: 0.9em;
    border: 1px solid #beb0b0;
    color: #673737;
}

button:disabled {
    background-color: #ebe8e8;
    color: #988c87;
    font-weight: bold;
}

#button-up {
    position: sticky;
    bottom: 1em;
    right: 0;
}

#groups-section-wrap, #disciplines-section-wrap, #question-wrap {
    width: 100%;
    background-color: #f8f8f8;
    margin: 1em 0;
    padding: 0.5em 0;
    border: 1px solid #e0dad9;
    border-right-width: 0;
    border-left-width: 0;
}

#groups-section, #disciplines-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 60em;
    margin: auto;
}

#markdown-container {
    max-width: 40em;
    margin: auto;
}

#markdown-container img {
    display: block;
    margin: auto;
}

#question-buttons-container button:after {
    content: attr(data-counter);
    color: #ab7979;
}

#question-wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: height cubic-bezier(.38,.08,.21,.98) 250ms;
    overflow: hidden;
}

#question {
    display: inline-block;
    font-size: 1.8em;
    color: #654133;
}

#question img {
    width: 8em;
    height: 8em;
    border: 1px solid #1d1919;
    box-shadow: 2px 2px 6px #a39999;
    border-radius: 3px;
}

#question-buttons-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 1.5em 0;
}

#question-buttons-container > button {
    padding: 0.6em;
    font-size: 1em;
    margin: 0.4em;
}

#conspect {
    max-width: 50em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    color: #362c29;
}

strong {
    color: #962c21;
}

em {
    color: #a32407;
}

.table-wrap {
    margin: 1em;
}

.table-scroller {
    overflow: scroll;
}

.table-name {
    text-align: center;
    font-weight: bold;
    color: #501f1f;
    font-size: 1.2em;
    font-variant: small-caps;
}

table {
    border-collapse: collapse;
    font-size: 0.8em;
    text-align: center;
    margin: 1em;
}

tr:first-child {
    font-weight: bold;
    color: #875145;
    font-size: 1.1em;
}

tr:nth-child(even) {
    background-color: #f6f3f2;
}

td {
    border: 1px solid black;
    padding: 5px;
}

li {
    margin: 0.3em 0;
}

#errors {
    color: #e26b5e;
}

#errors > div {
    margin: 2em;
}

button.last-pressed {
    background-color: #fff0ed;
    text-decoration: underline;
} */