main {
    width: 80%;
    min-width: 20em;
    max-width: 40em;
    margin: 2em auto;
}

ul.sortable {
    border: 1px solid var(--ihnm-color-text);
    width: 100%;
    padding: .25em;
}

ul.sortable li {
    display: inline-block;
    border: 1px solid var(--ihnm-color-text);
    margin: .25em;
}

ul.sortable li img {
    width: 5em;
    height: 5em;
}

#images {
    min-height: 10em;
}

#images-buffer {
    min-height: 5em;
}

#result {
    width: 100%;
    min-height: 10em;
    border: 3px solid red;
    margin: 2em 0;
}

#settings {
    display: flex;
    flex-flow: column;
    gap: 1em;
    align-self: start;
}

#size-warning {
    color: var(--ihnm-color-red);
}