body {
    margin: 5%;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

main[hidden] {
    display: none;
}

main > * {
    display: flex;
    flex-flow: column nowrap;
    max-width: 40em;
    margin: 1em auto;
    border-top: 1px solid var(--ihnm-color-border);
}

svg {
    width: 17em;
    height: 17em;
    touch-action: none;
}

img {
    max-width: 100%;
    margin: 2em auto;
}

p {
    margin: 1em 0;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
}

button {
    padding: 0.3em;
    margin: 0.5em;
}

#problem-buttons {
    margin: 0.5em;
}

#problem-buttons::before, #condition::before, #sketch::before, #solution::before {
    display: block;
    margin: 1em;
}

#problem-buttons::before {
    content: "Задачи:";
}

#condition::before {
    content: "Условие:";
}

#condition img {
    max-width: 50%;
}

#sketch::before {
    content: "Рисунок:";
}

.infobox {
    font-family: monospace;
}

#solution::before {
    content: "Решение:";
}
